:root {
    --img-width: 1200px;
    --img-height: 536px;
    --button-width: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

button {
    background-color: rgba(255, 255, 255, 0.3)!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 0!important;
    width: var(--button-width);
    height: var(--button-width);
    border-radius: 50%!important;
    /* position: absolute; */
    z-index: 2;
    left: calc(((var(--img-width) / 5) / 2) - (var(--button-width) / 2));
}
