<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body id="app">
    <div id="content" class="d-flex mx-5 rounded-4">
        <!-- big image -->
        <div id="img-container" class="position-relative">
            <img v-for="(slide, i) in slides" :src="slide.immagine" alt="immagine" class="position-absolute" :class="i === currentImg ? 'opacity-100' : 'opacity-0'">
        </div>
        <!-- text -->
        <div id="text-container">
            <!-- <h1 id="title" class="text-white">Marvel's Avengers</h1>
            <p id="description" class="text-white">Marvel's Avengers is an epic, third-person, action-adventure game that combines an original, cinematic story with single-player and co-operative gameplay.</p> -->

            <!-- <h1 id="next-title" class="text-white">Marvel's Avengers</h1>
            <p id="next-description" class="text-white">Marvel's Avengers is an epic, third-person, action-adventure game that combines an original, cinematic story with single-player and co-operative gameplay.</p> -->
        </div>
        <!-- buttons -->
        <div id="button-container" class="position-relative">
            <button id="down" class="btn d-flex justify-content-center align-items-center" @click="nextImage()"><i class="fa-solid fa-chevron-down text-white"></i></button>
            <button id="up" class="btn d-flex justify-content-center align-items-center" @click="previousImage()"><i class="fa-solid fa-chevron-up text-white"></i></button>
            <button id="play-pause" class="btn d-flex justify-content-center align-items-center"><i class="fa-solid fa-play text-white"></i></button>
            <button id="reverse" class="btn d-flex justify-content-center align-items-center" style="rotate: 0deg; transition: all .4s ease-in-out;"><i class="fa-solid fa-arrow-rotate-back text-white"></i></button>
        </div>
        <!-- small images -->
        <div id="array-container">
            <div class="preview"><img :src="slides[slides.length-1].immagine"><div class="filter"></div></div>
            <div class="preview" v-for="(slide, i) in slides"><img :src="slides[i].immagine"><div :class="i === currentImg ? 'filter opacity-0' : 'filter'"></div></div>
            <div class="preview"><img :src="slides[0].immagine"><div class="filter"></div></div>
        </div>
    </div>
    <!-- JS -->
    <!-- <script src="js/oldMain.js"></script> -->
    <script src="js/main.js"></script>
</body>
</html>